
body{
    background-image: url(imgs/xo.jpg);
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto;
    }
    
.board{
    border: 10px solid rgb(26, 67, 162);
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(20,189,172,255);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 30px;
    margin: auto;
    width: 21%;
    padding: 17px;
    }
    
.cell{
    border: 5px solid  rgb(15, 106, 138);
    width: 90px;
    height: 90px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border-radius: 10px;
    }
h3{
    background-color:rgb(29, 36, 67);
    border-radius: 10px;
    font-size: 30px;
    margin: auto;
    width: 10%;
    padding: 6px;
    color: rgb(18, 135, 178); 
    box-shadow: 
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
    rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, 
    rgb(18, 135, 178) 0px 0px 0px 5px, 
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
    rgba(60, 66, 87, 0.08) 0px 2px 5px 0px;    
    }
.cells1{
    border-radius: 16px;
    border: 8px solid rgb(15, 106, 138);
    border-top:15%;
    width: 90px;
    height: 90px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border-bottom: none; 
    border-left: none; 
    border-right: none;
    padding-top: 5%; 
    }
.cells2{
    border-radius: 10px;
    border: 8px solid rgb(15, 106, 138);
    border-top:15%;
    width: 90px;
    height: 90px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    border-left: none; 
    border-right: none; 
    border-top: none; 
    }
h3{
    text-align: center;
    font-size: 20px;

    }   @keyframes blinking {
        0% {
          background-color: #06c3d1;
          border: 3px solid #666;
        }
        100% {
          background-color: #0d8aa6;
        }
      }
      *[id^="blink-"]{
         width: 91px;
        height: 89px;
        animation: blinking 1.5s ;
      }
@media only screen and (max-width: 550px){
h3{
    width: 250px;
    }
body{
    background-size:  300%; 
    width: 100%;
    }
.board {
    border: 10px solid rgb(26, 67, 162);
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgba(20, 189, 172, 0.855);
    border-radius: 15px;
    width: auto;
    padding: 10%;
    margin: auto;


    }
.cell {
    border: 6px solid rgb(15, 106, 138);
    width: 91px;
    height: 89px;
    font-size: 14px;
    }
    
.cells2,.cells1{
    border: 5px solid rgb(15, 106, 138);
    width: 91px;
    height: 89px;
    font-size: 20px;
    border-left: none; 
    border-right: none; 
    }
.cells1{
    border-bottom: none; 
    margin-top: 30%;
    }
img{
    width: 70px;
    height: 70x;
    }
.cells2{
    border-top: none; 
    border-bottom: none;
    }
.exit{
    position: relative;
    margin: 0;
    position: absolute;
    margin-top: 65%;
    right: 25%;

    }
.reset{
    margin: 0;
    margin-top: 65%;
    left: 25%;
    }

.TwoPlayer {
    position: relative;
    margin: 0;
    position: absolute;
    top: 40%;
    right: 25%;
    }
.bot{
    position: unset;
    margin: 0;
    position: unset;
    top: 50%;
    left: 15%;
    }
.button {
    border: 5px solid rgb(74, 68, 68);
    font-family:Arial, Helvetica, sans-serif;
    padding: 0px 1px;
    }
.select{
    position: unset;
    margin: 0;
    position: unset;
    top: 60%;
    }
}  
.top { 
    border-top: none; 
} 
.left { 
    border-left: none; 
} 
.right { 
    border-right: none; 
} 
.down { 
    border-bottom: none; 
} 
.exit{
    position: relative;
    margin: 0;
    position: absolute;
    top: 50%;
    right: 25%;
    }
.reset{
    position: relative;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 25%;
    }
.TwoPlayer {
    position: relative;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 45.5%;
    }
.bot{
    position: relative;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 45%;
    }
.bot:active {
    background-color: rgb(84 105 212 / 0.5);
    box-shadow: 0 5px #666;
    }
.reset:active {
    background-color: rgb(84 105 212 / 0.5);
    box-shadow: 0 5px #666;
    }  
.TwoPlayer:active {
    background-color: rgb(84 105 212 / 0.5);
    box-shadow: 0 5px #666;
    }
.exit:active {
    background-color: rgb(84 105 212 / 0.5);
    box-shadow: 0 5px #666;
    }
.select{
    position: relative;
    margin: 0;
    position: absolute;
    top: 60%;
    left: 45.5%;
    }
.button {
    border: 5px solid rgb(74, 68, 68);
    font-family:Arial, Helvetica, sans-serif;
    padding: 10px 15px;
    font-size: 18px;
    color: #fff;
    background-color: rgb(29, 36, 67);
    border-radius: 20px;
    box-shadow: 
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
    rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, 
    rgb(18, 135, 178) 0px 0px 0px 5px, 
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
    rgba(60, 66, 87, 0.08) 0px 2px 5px 0px;       
    }       

.button:hover {
    background-color: rgb(84 105 212 / 0.5)
    }
    #o,#x {
        visibility: hidden;
        min-width: 250px;
        margin-left: -125px;
        background-color: #333333b0;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 16px;
        position: fixed;
        z-index: 1;
        left: 50%;
        bottom: 30px;
        font-size: 17px;
      }
      
      #o.show,#x.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
      }
      
      @-webkit-keyframes fadein {
        from {bottom: 0; opacity: 0;} 
        to {bottom: 30px; opacity: 1;}
      }
      
      @keyframes fadein {
        from {bottom: 0; opacity: 0;}
        to {bottom: 30px; opacity: 1;}
      }
      
      @-webkit-keyframes fadeout {
        from {bottom: 30px; opacity: 1;} 
        to {bottom: 0; opacity: 0;}
      }
      
      @keyframes fadeout {
        from {bottom: 30px; opacity: 1;}
        to {bottom: 0; opacity: 0;}
      }
      .bot_or_you{
        margin-top: 15%;

      }
      .x_or_o{
        margin-top: 10%;

      }
      
      .bot_or_you,.x_or_o
{
    display: none;
    background-color: rgba(84, 105, 212, 0.87);
    border-radius: 10px;
    position: fixed;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    padding: 6px 8px 8px;
    box-sizing: border-box;
    text-align: center;
    font-size: 28px;
    box-shadow: 
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
    rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, 
    rgb(18, 135, 178) 0px 0px 0px 5px, 
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
    rgba(60, 66, 87, 0.08) 0px 2px 5px 0px;  
}
.bot_or_you button{
    background-color: rgb(112, 120, 155);

}
.x_or_o button {
    background-color: rgb(29, 36, 67);

}
.bot_or_you button,.x_or_o button {
    border: 5px solid rgb(74, 68, 68);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #fff;
    border-radius: 20px;
    box-shadow: 
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
    rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, 
    rgb(18, 135, 178) 0px 0px 0px 5px, 
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
    rgba(60, 66, 87, 0.08) 0px 2px 5px 0px;  
    display: inline-block;
    padding: 1%;
    text-align: center;
    width: 80px;
    cursor: pointer;
    margin: 0;
}

#you_first:hover{
    background-color: rgb(84 105 212 / 0.5)
}
#bot_first:hover{
    background-color: rgb(84 105 212 / 0.5)
}
#x_first:hover{
    background-color: rgb(84 105 212 / 0.5)
}#o_first:hover{
    background-color: rgb(84 105 212 / 0.5)
}

.bot_or_you .message
{
    text-align: left;
    margin-bottom: 8px;
}
.x_or_o .message
{
    text-align: left;
    margin-bottom: 8px;
}